# Working with PDF data
*** 
## Learning Objectives
* Read PDF data into Python
* Extract text from PDFs
* Extract tables from PDFs

Install the dependencies by running the following command:

Import the following packages:

Read the table in the pdf doc into a pandas dataframe

In [3]:
import tabula

# Read pdf into a list of DataFrame
pdf  = tabula.read_pdf("foo.pdf", pages='all')

df = pdf[0]

df

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Percent Fuel Savings Unnamed: 4
0      Cycle         KI   Distance        NaN                  NaN        NaN
1       Name     (1/km)       (mi)   Improved  Decreased Eliminate  Decreased
2        NaN        NaN        NaN      Speed          Accel Stops       Idle
3     2012_2       3.30        1.3       5.9%           9.5% 29.2%      17.4%
4     2145_1       0.68       11.2       2.4%            0.1% 9.5%       2.7%
5     4234_1       0.59       58.7       8.5%            1.3% 8.5%       3.3%
6     2032_2       0.17       57.8      21.7%            0.3% 2.7%       1.2%
7     4171_1       0.07      173.9      58.1%            1.6% 2.1%       0.5%

In [26]:
# df.iloc[1][0]



# Rename column1 to the value in the first row in the first column
# df.rename(columns={ df.columns[0]: df.iloc[0][0] }, inplace = True)

'Name'

In [27]:
# Rename column1 to the concatenation of the first and the second rows 
# in the first column

df.rename(columns={ df.columns[0]: df.iloc[0][0] + df.iloc[1][0] }, inplace = True)
# df = df.drop([0,1])

df = df.reset_index(drop=True)

df

  CycleName Unnamed: 1 Unnamed: 2 Unnamed: 3 Percent Fuel Savings Unnamed: 4
0     Cycle         KI   Distance        NaN                  NaN        NaN
1      Name     (1/km)       (mi)   Improved  Decreased Eliminate  Decreased
2       NaN        NaN        NaN      Speed          Accel Stops       Idle
3    2012_2       3.30        1.3       5.9%           9.5% 29.2%      17.4%
4    2145_1       0.68       11.2       2.4%            0.1% 9.5%       2.7%
5    4234_1       0.59       58.7       8.5%            1.3% 8.5%       3.3%
6    2032_2       0.17       57.8      21.7%            0.3% 2.7%       1.2%
7    4171_1       0.07      173.9      58.1%            1.6% 2.1%       0.5%

In [31]:
# Rename column2 to the value in the first row and second row  in the second column
df.rename(columns={ df.columns[1]: df.iloc[0][1] + df.iloc[1][1] }, inplace = True)



# Rename column3 to the value in the first and second row in the third column
df.rename(columns={ df.columns[2]: df.iloc[0][2] + df.iloc[1][2] }, inplace = True)


df = df.reset_index(drop=True)


df

  CycleName KI(1/km) Distance(mi) Unnamed: 3 Percent Fuel Savings Unnamed: 4
0     Cycle       KI     Distance        NaN                  NaN        NaN
1      Name   (1/km)         (mi)   Improved  Decreased Eliminate  Decreased
2       NaN      NaN          NaN      Speed          Accel Stops       Idle
3    2012_2     3.30          1.3       5.9%           9.5% 29.2%      17.4%
4    2145_1     0.68         11.2       2.4%            0.1% 9.5%       2.7%
5    4234_1     0.59         58.7       8.5%            1.3% 8.5%       3.3%
6    2032_2     0.17         57.8      21.7%            0.3% 2.7%       1.2%
7    4171_1     0.07        173.9      58.1%            1.6% 2.1%       0.5%

In [32]:
# Rename column4 to the value in the first and second row in the fourth column

df.rename(columns={ df.columns[3]: df.iloc[1][3] + ' - ' + df.iloc[2][3] }, inplace = True)
df.rename(columns={ df.columns[4]: df.iloc[1][4] + ' - ' + df.iloc[2][4] }, inplace = True)
df.rename(columns={ df.columns[5]: df.iloc[1][5] + ' - ' + df.iloc[2][5] }, inplace = True)

df = df.reset_index(drop=True)

df

,CycleName,KI(1/km),Distance(mi),Improved - Speed,Decreased Eliminate - Accel Stops,Decreased - Idle
0,Cycle,KI,Distance,NaN,NaN,NaN
1,Name,(1/km),(mi),Improved,Decreased Eliminate,Decreased
2,NaN,NaN,NaN,Speed,Accel Stops,Idle
3,2012_2,3.30,1.3,5.9%,9.5% 29.2%,17.4%
4,2145_1,0.68,11.2,2.4%,0.1% 9.5%,2.7%
5,4234_1,0.59,58.7,8.5%,1.3% 8.5%,3.3%
6,2032_2,0.17,57.8,21.7%,0.3% 2.7%,1.2%
7,4171_1,0.07,173.9,58.1%,1.6% 2.1%,0.5%

In [33]:
# Delete the first 3 rows 
df = df.drop([0,1,2])

df.reset_index(drop=True)

df

,CycleName,KI(1/km),Distance(mi),Improved - Speed,Decreased Eliminate - Accel Stops,Decreased - Idle
3,2012_2,3.30,1.3,5.9%,9.5% 29.2%,17.4%
4,2145_1,0.68,11.2,2.4%,0.1% 9.5%,2.7%
5,4234_1,0.59,58.7,8.5%,1.3% 8.5%,3.3%
6,2032_2,0.17,57.8,21.7%,0.3% 2.7%,1.2%
7,4171_1,0.07,173.9,58.1%,1.6% 2.1%,0.5%

In [44]:
# Split column 4 
c4 = df['Decreased Eliminate - Accel Stops'].str.split('%', expand=True)
c4 


# Add a new column - Decreased - Accel
df['Decreased - Accel'] = c4[0]


# Add a new column - Eliminate - Stops 
df['Eliminate - Stops'] = c4[1]


df 


# df

,CycleName,KI(1/km),Distance(mi),Improved - Speed,Decreased Eliminate - Accel Stops,Decreased - Idle,Decreased - Accel,Eliminate - Stops
3,2012_2,3.30,1.3,5.9%,9.5% 29.2%,17.4%,9.5,29.2
4,2145_1,0.68,11.2,2.4%,0.1% 9.5%,2.7%,0.1,9.5
5,4234_1,0.59,58.7,8.5%,1.3% 8.5%,3.3%,1.3,8.5
6,2032_2,0.17,57.8,21.7%,0.3% 2.7%,1.2%,0.3,2.7
7,4171_1,0.07,173.9,58.1%,1.6% 2.1%,0.5%,1.6,2.1

In [45]:
# Remove the column 4
df = df.drop(['Decreased Eliminate - Accel Stops'], axis=1)

df

,CycleName,KI(1/km),Distance(mi),Improved - Speed,Decreased - Idle,Decreased - Accel,Eliminate - Stops
3,2012_2,3.30,1.3,5.9%,17.4%,9.5,29.2
4,2145_1,0.68,11.2,2.4%,2.7%,0.1,9.5
5,4234_1,0.59,58.7,8.5%,3.3%,1.3,8.5
6,2032_2,0.17,57.8,21.7%,1.2%,0.3,2.7
7,4171_1,0.07,173.9,58.1%,0.5%,1.6,2.1

In [46]:
df.describe()

,CycleName,KI(1/km),Distance(mi),Improved - Speed,Decreased - Idle,Decreased - Accel,Eliminate - Stops
count,5,5,5,5,5,5,5
unique,5,5,5,5,5,5,5
top,2012_2,3.30,1.3,5.9%,17.4%,9.5,29.2
freq,1,1,1,1,1,1,1

Let's try another file

Extracting tables from PDFs is hard. Tabula is a tool that tries to make it easier. It works well with tables that have clearly defined borders, but it can get confused pretty easily. It's also not great at extracting text. 


Let's extract some text from a document using `PyPDF2`. We'll use the first page of a PDF file stored in the file object `pdf_file`. We'll then print the first 500 characters in the extracted text.

In [9]:

import PyPDF2
pdf_file = open("attachment.pdf", 'rb')
# Read the pdf file
read_pdf = PyPDF2.PdfFileReader(pdf_file)
# Get the number of pages
page = read_pdf.getPage(0)
# Extract the text from the page
page_content = page.extractText()
# Print the content of the page
print(page_content[200:500])

d
they have no respect for the status quo. You can quote them,
disagree with them, glorify or vilify them.
About the only thing you cant do is ignore them. Because they change
things. They invent. They imagine. They heal. They explore. They
create. They inspire. They push the human race forward.
May